.container {
    width: 100%;
    height: 100%;
}

.img {
    object-fit: cover;
    background-color: #808080;
}

.page_base img {
    object-fit: cover;
}

@media screen and (device-type: phone) and (orientation: portrait) {
    .page_landscape {
        display: none;
    }
}

@media screen and (device-type: phone) and (orientation: landscape) {
    .page_portrait {
        display: none;
    }
}

@media screen and (device-type: tablet) and (orientation: portrait) {
    .page_landscape {
        display: none;
    }
}

@media screen and (device-type: tablet) and (orientation: landscape) {
    .page_portrait {
        display: none;
    }
}

@media screen and (device-type: tv) {
    .page_portrait {
        display: none;
    }

    .page_landscape {
        display: none;
    }
}

@media screen and (device-type: wearable) {
    .page_portrait {
        display: none;
    }

    .page_landscape {
        display: none;
    }
}
